doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title DriveNode API
  body
    div
      h3 Drive Node API
    div
      p
        | This is driveNode API, wrote by Node.js with Express Framework. Front End Application wrote by Vue.js 2.
      p Endpoint: https://[ip-address]:[port]/api/ 
      p
        | To initialise the admin account: 
        a(href='install') Click here