doctype html
html
  head
    title= title
    link(rel='stylesheet',href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/install.css')
    
    
  body
    block content
